.ant-dropdown-trigger {
    display:none;
}

.ant-btn-primary {
    background : #a2abb7 !important;
}

.ant-modal {
    width: 1000px !important;
}

.ant-descriptions-item-label {
    text-align: center !important;
}

.ant-descriptions-item-content {
    text-align: center !important;
}

.ant-tabs-nav-list {
    flex-grow: 1 !important;
    margin-right: 0px !important;
    width: 100% !important;
}

.ant-tabs-tab {
    width: 50%;
    display: block !important;
    text-align: center !important;
}

.tr td:first-child {
    font-weight: normal !important;
  }

.ant-descriptions-item-content[colspan="2"] {
    padding : 0px !important;
}

.DescriptionsContents.ant-descriptions-item-label{
    background-color : white !important;
    color: black !important;
}